<link rel="alternate" href="http://example.com/feed">
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">

<form method="post" action="form_submit" encType="multipart/form-data">

	<input type="file" name="fileUpload">
	<input type="submit">

</form>