<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>
<body>

<h1><%= title %>
<p> Welcome to <%= title %></p>
<p> This is where the content will go </p>

<%= var imageArray = ['peel.jpg', 'tesla.jpg', 'teslax.jpg', 'yellow.jpg']; 
	function randomImg {
		for( var i = 0; i < imageArray.length;i++){
			imageArray
		}
		
	}
%>
<img src=" <%=   %>">


</body>
</html>

