/* line 8, ../../compass/sass/styles.scss */
body {
  margin: 0px;
  background-color: #fff;
}

/* line 17, ../../compass/sass/styles.scss */
h1 {
  color: #41337a;
  text-align: center;
  font-size: 200px;
  margin: 10px;
}
